body{
    font-family: cursive;
    background-color: #f4f4f4;
    display: flex;
}

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1{
    margin-bottom: 20px;
    text-align: center;
}
#taskInput{
    width: 75%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button{
    padding: 10px 15px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #4cae4c;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
li.completed{
    text-decoration: line-through;
    color: gray;
}

.remove-btn{
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.listItem{
    display: flex;
    align-items:center;
     margin-bottom: 10px;
     padding: 8px;
     background-color: #f0f0f0;
     border-radius: 5px;
}
/* styling for completed task */
.listItem.completed{
    text-decoration: line-through;
    color: grey;
}
/* styling for button */
.listItem button{
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
}
.listItem button edit{
    color: #007bff;
}
.listItem button..remove-btn {
    color: #007bff;
}